/* 🌟 कलर सेलेक्सन पप-अप (Modal) को स्टाइल 🌟 */
.modal-overlay {
    display: none; /* सुरुमा लुकेर बस्छ */
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.75); /* ब्याकग्राउन्ड धमिलो पार्ने */
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-box {
    background-color: #0c1a40;
    border: 3px solid #ffde22;
    border-radius: 20px;
    padding: 30px 20px;
    width: 80%;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.modal-box h2 {
    margin-top: 0;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffde22;
    margin-bottom: 25px;
}

/* चारवटा गोलो रङहरू */
.color-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.color-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.2s;
}

.color-circle:hover {
    transform: scale(1.15);
}

/* रङका क्लासहरू */
.color-circle.red { background-color: #f6251b; }
.color-circle.blue { background-color: #008eff; }
.color-circle.green { background-color: #00be00; }
.color-circle.yellow { background-color: #ffb300; }

/* बन्द गर्ने बटन */
.close-btn {
    background: #fff;
    color: #000;
    border: none;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.close-btn:hover {
    background: #ddd;
}
